 <div class="bodywrap">
    <section class="bread-crumb">

        <div class="container">

            <ul class="breadcrumb">
                <li class="home">
                    <a href="/"><span>Trang chủ</span></a>
                </li>

                <li><strong><span>Tìn kiếm</span></strong></li>

            </ul>
        </div>
    </section>
</div>
<section class="product margin-top-5 f-left w_100">

    <div class="container">
        <section>
            <div class="row">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <div class="col-sm-3 col-6">
                            <div class="variants product-action" data-cart-form="" enctype="multipart/form-data">
                                <div class="product-thumbnail">
                                    <a class="image_thumb scale_hover" href="@item.ProductUrl" title="@item.ProductTitle">
                                        <img width="234" height="234" class="lazyload image1" src="/Upload/Products/@item.ProductImage" data-src="/Upload/Products/@item.ProductImage" alt="@item.ProductTitle    ">
                                    </a>
                                </div>

                                <div class="product-info">
                                    <h3 class="product-name"><a class="line-clamp line-clamp-2" href="/den-duong-nang-luong-mat-troi-30w" title="Đèn đường năng lượng mặt trời 30W">Đèn đường năng lượng mặt trời 30W</a></h3>
                                    <div class="price-box">
                                        Liên hệ
                                    </div>

                                    <a href="@item.ProductUrl" class="btn-cart btn-views add_to_cart " title="Thêm vào giỏ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket2" viewBox="0 0 16 16">
                                            <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z"></path>
                                            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z"></path>
                                        </svg>
                                        Xem thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
            <div class="text-right">

            </div>

        </section>
    </div>
    </div>
</section>
<script>

</script>