
@{
    ViewBag.Title = "Quản lý danh sách sản phẩm";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}



<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                
                <div class="text-capitalize">
                    Quản lý hiển thị chức năng
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                        <i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>DANH SÁCH

                    </div>
                    <div class="btn-actions-pane-right actions-icon-btn">
                        <div class="btn-group dropdown">
                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    class="btn-icon btn-icon-only btn btn-link">
                                <i class="pe-7s-menu btn-icon-wrapper"></i>
                            </button>
                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-right rm-pointers dropdown-menu-shadow dropdown-menu-hover-link dropdown-menu">
                                <h6 tabindex="-1" class="dropdown-header">Header</h6>
                                <button type="button" tabindex="0" class="dropdown-item">
                                    <i class="dropdown-icon lnr-inbox"> </i><span>Menus</span>
                                </button>
                                <button type="button" tabindex="0" class="dropdown-item">
                                    <i class="dropdown-icon lnr-file-empty"> </i><span>Settings</span>
                                </button>
                                <button type="button" tabindex="0" class="dropdown-item">
                                    <i class="dropdown-icon lnr-book"> </i><span>Actions</span>
                                </button>
                                <div tabindex="-1" class="dropdown-divider"></div>
                                <div class="p-3 text-right">
                                    <button class="mr-2 btn-shadow btn-sm btn btn-link">View Details</button>
                                    <button class="mr-2 btn-shadow btn-sm btn btn-primary">Action</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table style="width: 100%;" id="myTable" class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên danh mục</th>
                                <th>Hiển thị</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                var i = 1;
                                foreach (TCP.DTO.DTO_Menubar item in Model)
                                {
                                    <tr>
                                        <td scope="row">@i</td>
                                        <td>
                                            @item.MenubarName
                                        </td>
                                        <td>

                                            @if (item.IsShow == 1)
                                            {
                                                <p><input checked="checked" type="checkbox" name="check-1" value="@item.MenubarId" class="lcs_check" autocomplete="off" /></p>
                                            }
                                            else
                                            {
                                                <p><input type="checkbox" name="check-1" value="@item.MenubarId" class="lcs_check" autocomplete="off" /></p>
                                            }

                                        </td>
                                    </tr>
                                    i += 1;
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


    </div>
</div>
<script>
    // $.alert('An Alert Dialog By jQueryScript', { em: 'Emphasized Text', title: 'Alert Dialog' })
    function deletes(id, name) {
        $.confirm('Bạn có muốn xóa danh mục này?', {
            em: '', title: 'Cảnh báo!', callEvent: function () {
                $.ajax({
                    url: '/Tool/DeleteFile.ashx',
                    data: 'name=' + name + '&folder=' + 'ProductCategories',
                    dataType: 'text',
                    type: 'GET',
                    cache: false,
                    success: function (result) {

                    }
                });
                //
                var param =
                {
                    "productCategoryId": id
                }

                $.ajax({
                    url: '/Administrator/ProductCategory/ProductcategoryDelete',
                    data: param,
                    dataType: 'text',
                    type: 'POST',
                    cache: false,
                    success: function (result) {
                        if (result == "-1") {
                            $.alert('Danh mục này đang có sản phẩm, không thể xóa', { em: '', title: 'Cảnh báo' })
                        }
                        else {
                            window.location.href = "/Administrator/ProductCategory/getlist";

                        }
                    }
                });
            }, cancelEvent: function () { }, cancelButton: 'Không'
        })


    }
    function change_displayorder(id, dd) {
        var param =
        {
            "id": id,
            "idorder": $(dd).val()
        }
        console.log(param);
        $.ajax({
            url: '/Administrator/ProductCategory/ProductcategorySort',
            data: param,
            dataType: 'text',
            type: 'POST',
            cache: false,
            success: function (result) {

            }
        });
    }


</script>
<script>

    function goto() {
        window.location.href = "/Administrator/ProductCategory/InsertList";
    }

</script>


<script type="text/javascript">
    $(document).ready(function (e) {
        $("#mnchucnang").addClass("setmenuactive");
        $('input').lc_switch();

        // triggered each time a field changes status
        $(document).on('lcs-statuschange', '.lcs_check', function () {
            var status = ($(this).is(':checked')) ? 'checked' : 'unchecked',
                subj = ($(this).attr('type') == 'radio') ? 'radio #' : 'checkbox #',
                num = $(this).val();

            $('#third_div ul').prepend('<li><em>[lcs-statuschange]</em>' + subj + num + ' changed status: ' + status + '</li>');
        });


        // triggered each time a field is checked
        $(document).on('lcs-on', '.lcs_check', function () {
            updateDisplay($(this).val(), 1);
            var subj = ($(this).attr('type') == 'radio') ? 'radio #' : 'checkbox #',
                num = $(this).val();

            $('#third_div ul').prepend('<li><em>[lcs-on]</em>' + subj + num + ' is checked</li>');
        });


        // triggered each time a is unchecked
        $(document).on('lcs-off', '.lcs_check', function () {
            updateDisplay($(this).val(), 0);
            var subj = ($(this).attr('type') == 'radio') ? 'radio #' : 'checkbox #',
                num = $(this).val();

            $('#third_div ul').prepend('<li><em>[lcs-off]</em>' + subj + num + ' is unchecked</li>');
        });
    });



    // clean events log
    $('#third_div small').click(function () {
        $('#third_div ul').empty();
    });
    function updateDisplay(id, status) {
        var param =
        {
            "id": id,
            "idorder": status
        }
        $.ajax({
            url: '/Administrator/Menubar/MenubarShow',
            data: param,
            dataType: 'text',
            type: 'POST',
            cache: false,
            success: function (result) {
                // window.location.reload();
            }
        });
    }

</script>
